<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>KingDomino</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/output.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/crown.png') }}">
    <!-- <title>{% block title %}{% endblock %} - My Webpage</title> -->
    {% endblock %}
</head>
<body class="bg-primary text-white">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul id="messages" class="flashes p-4 bg-dark text-primary absolute bottom-0 left-1/2 -translate-x-1/2">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <div id="content">{% block content %}{% endblock %}</div>
</body>
<script type="text/javascript">
    function clearThisID(target) {
        document.getElementById(target).value = "";
    }

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function() {
        console.log('Connected to WebSocket server');
    });

    socket.on('disconnect', function() {
        console.log('Disconnected from WebSocket server');
    });

    socket.on('innerHTML', function(data) {
        console.log('replacing innerHTML');
        console.log(data);
        var div = document.querySelector(data.div);
        div.innerHTML = data.html;
        htmx.process(div);
    });

    socket.on('outerHTML', function(data) {
        console.log('replacing outerHTML');
        console.log(data);
        var div = document.querySelector(data.div);
        div.outerHTML = data.html;
        var div = document.querySelector(data.div);
        htmx.process(div);
    });

    socket.on('remove', function(data) {
        console.log('removing element');
        console.log(data);
        var div = document.querySelector(data.div);
        div.remove();
    });

    socket.on('message', function(data) {
        console.log('Received message:', data);

        // Example: Update the UI with the received message
        $('#messages').append('<li>' + data + '</li>');

        // Set a timeout to remove the message after 5 seconds
        setTimeout(function() {
            $('#messages li').first().remove(); // Remove the oldest (first) message
        }, 5000); // 5000 milliseconds = 5 seconds
    });

    socket.on('startGame', function(data) {
        console.log('Game started');
        window.location.href = '/game';
    });

    socket.on('refresh_game_menu', function(data) {
        console.log('Refreshing game menu');
        window.location.href = '/game_menu';
    });
</script>
</html>