{% extends "base.html" %}
{% block content %}
<div class="h-screen flex flex-col bg-primary text-white">
    <img class="absolute left-1/2 top-0 -translate-x-1/2" src="{{ url_for('static',filename='images/Kingdomino-Logo.png') }}" alt="">
    <main class="m-auto w-64 flex flex-col">
        <h1 class="m-2 text-center text-lg">chose you username</h1>
        <form class="flex flex-col items-center" action="/login" method="post">
            <input id="username" name="username" class="p-2 m-2 text-center rounded-md bg-secondary text-dark focus:outline-none" type="text"></input>
            <button class="w-32 p-2 my-2 bg-secondary rounded-md" type="submit">Join Game</button>
        </form>
    </main>
</div>
{% endblock %}
