{% extends "base.html" %}
{% block content %}
<div class="bg-primary text-white h-screen flex">
    {% include "nav.html" %}
    <main class="mx-auto container flex flex-col items-center">
        <h1 class="text-center text-2xl top-0">KingDomino</h1>
        <div class="w-64 m-auto flex flex-col justify-center">
            <a href="/create-game">Create Game</a>
            <a href="/find-games">Find Games</a>
            <button hx-post="/join">Join Game</button>
        </div>
    </main>
</div>
{% endblock %}
