{% extends "base.html" %}
{% block content %}
<div class="bg-primary text-white h-screen flex">
    <nav>
        <p hx-post="/logout" class="absolute top-2 right-4">exit</p>
        <p class="absolute top-2 left-4">{{ current_user }}</p>
    </nav>
    <main class="mx-auto container flex flex-col items-center">
        <h1 class="text-center text-2xl top-0">KingDomino</h1>
        <div class="w-64 m-auto flex flex-col justify-center">
            <button hx-post="/passwd" hx-target="main" hx-swap="innerHTML">Create Game</button>
            <button hx-post="/find_game" hx-target="main" hx-swap="innerHTML">Find Games</button>
            <button hx-post="/join">Join Game</button>
        </div>
    </main>
</div>
{% endblock %}
