{% extends "base.html" %}
{% block content %}
    <div class="flex flex-col items-center my-auto">
        <div class="flex flex-col items-center">
            <h2 class="text-center text-2xl top-0">Game Code</h2>
            <p>{{ game.id }}</p>
            <button hx-post="/copy" hx-target="#gameCode">Copy</button>
        </div>
        <div class="flex flex-col items-center">
            <h2 class="text-center text-2xl top-0">Players</h2>
            <div id="players" class="w-64 m-auto flex flex-col justify-center">
                {% for player in game.usersnames() %}
                    <p>{{ player }}</p>
                {% endfor %}
            </div>
        </div>
        {% if is_host %}
        <div class="flex flex-col items-center">
            <button hx-post="/start">Start Game</button>
            <button hx-post="/kick" hx-target="#kickPlayer">Kick Player</button>
            <a href="/stop">End Game</a>
        </div>
        {% endif %}
    </div>
{% endblock %}
