<!-- menu -->
<!-- start, end, copy session code, kick, players[] -->
<!-- Path: menu.html -->

    <div class="flex flex-col items-center my-auto">
        <div class="flex flex-col items-center">
            <h2 class="text-center text-2xl top-0">Game Code</h2>
            <p>{{ game.id }}</p>
            <button hx-post="/copy" hx-target="#gameCode">Copy</button>
        </div>
        <div class="flex flex-col items-center">
            <h2 class="text-center text-2xl top-0">Players</h2>
            <div id="players" class="w-64 m-auto flex flex-col justify-center">
                {% for player in game.players %}
                    <p>{{ player }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="flex flex-col items-center">
            <button hx-post="/start">Start Game</button>
            <button hx-post="/kick" hx-target="#kickPlayer">Kick Player</button>
            <button hx-post="/stop">End Game</button>
        </div>
    </div>